In [55]:
import pandas as pd
import numpy as np

filepath_ordered = r'C:\Users\sesig\Documents\master data science\tfm\criteo_attribution_dataset\criteo_ordered_dataset.tsv.gz'
columns = ['timestamp','uid','campaign','conversion','conversion_timestamp']

df = pd.read_csv(filepath_ordered, usecols=columns, sep='\t', compression='gzip',nrows=5000)

#pass timestamp from hours to seconds
df.iloc[:,0] = pd.Series.apply(df.iloc[:,0],lambda x: x/86400)
df.iloc[:,4] = pd.Series.apply(df.iloc[:,4],lambda x: x/86400)
df.iloc[0:20,:]

    timestamp  uid  campaign  conversion  conversion_timestamp
0   16.262488   13   3406182           0             -0.000012
1   29.516262   22   2953716           0             -0.000012
2   29.561424   22   2953716           0             -0.000012
3   29.565231   22   2953716           0             -0.000012
4   29.570162   22   2953716           0             -0.000012
5   10.434329   28   7121544           0             -0.000012
6   10.434861   28   7121544           0             -0.000012
7   10.438495   28   7121544           0             -0.000012
8   17.378414   28   7121544           0             -0.000012
9    0.825532   36     83677           0             -0.000012
10   3.522963   36  28795042           0             -0.000012
11   7.340856   36  28795042           0             -0.000012
12  29.347396   36     83677           0             -0.000012
13  12.566505   40  24119478           0             -0.000012
14  14.861481   40  24119478           0             -0.000012
15  24.749352   40  24119478           0             -0.000012
16   0.513981   53  29614011           0             -0.000012
17   1.727095   53  29614011           0             -0.000012
18   9.575023   53  29614011           0             -0.000012
19  10.786019   53  29614011           0             -0.000012

In [56]:
df_group = pd.DataFrame.groupby(df,by='uid')

df_group.groups
a = df_group.get_group(22)
a

   timestamp  uid  campaign  conversion  conversion_timestamp
1  29.516262   22   2953716           0             -0.000012
2  29.561424   22   2953716           0             -0.000012
3  29.565231   22   2953716           0             -0.000012
4  29.570162   22   2953716           0             -0.000012

In [57]:
user_conversion = pd.DataFrame(data={'uid':[], 'conversion':[]}, dtype=np.int_)
for name, group in df_group:
    conv = 0
    # print(name)
    # print(len(group))
    for k in range(len(group)):
        if group.iloc[0,3] == 1:
            conv = 1
    user_conversion = pd.DataFrame.append(user_conversion, {'uid':name, 'conversion':conv}, ignore_index=True)

print(user_conversion.head())

uid  conversion
0   13           0
1   22           0
2   28           0
3   36           0
4   40           0